:root{
    --cor-primaria: #0d1b2a;
    --cor-secundaria: #1b263b;
    --cor-terciaria: #415a77;
    --cor-destaque: #d4af37;
    --cor-texto: #ffffff;
    --cor-fundo: #08262b;
    --tipo-de-fonte: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    --arredondamento-borda: 10px;
    --espaco: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--tipo-de-fonte);
    padding: var(--espaco);
    line-height: 1.5;
}
.container{
    display: grid;
    grid-template-areas: 
    'principal'
    'lado'
    'rodape';
    gap: var(--espaco);
    margin: auto;
    max-width: 1280;
}
header, nav, main, section, aside, footer{
    border-radius: var(--arredondamento-borda);
    padding: var(--espaco);
}
header{
    background-color: var(--cor-fundo);
    text-align: center;
    width: 100%;
    margin: var(--espaco);
}
header h1{
    color: var(--cor-texto);
    font-family: 'Pirata One', cursive;
    font-size: 5rem;
    text-shadow: 3px 3px 5px rgba(255, 145, 42, 0.7);
}
nav{
    color: var(--cor-texto);
    text-align: center;
    border-radius: var(--arredondamento-borda);
    padding: var(--espaco);
    width: 100%;
    margin-bottom: var(--espaco);
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: var(--espaco);
    gap: var(--espaco);
}
nav li{
    background-color: rgba(255, 255, 255, 0.1);
    padding: var(--espaco);
    border-radius: var(--arredondamento-borda);
    transition: 0.3s;
}
nav li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
nav a{
    color: var(--cor-texto);
    text-decoration: none;
}
.lateral{
    grid-area: lado;
    background-color: var(--cor-terciaria);
    border-radius: var(--arredondamento-borda);
}
.lateral ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: var(--espaco);
    gap: var(--espaco)
}
.lateral li{
    background-color: rgba(255, 255, 255, 0.1);
    padding: var(--espaco);
    border-radius: var(--arredondamento-borda);
    transition: 0.3s;
    cursor: pointer;
}
.lateral li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
.lateral a{
    color: var(--cor-texto);
    text-decoration: none;
}
h2{
    color: var(--cor-destaque);
    text-align: center;
    padding: var(--espaco);
}
.principal{
    grid-area: principal;
    background-color: var(--cor-terciaria);
    padding: var(--espaco);
    border-radius: var(--arredondamento-borda);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.noticias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--espaco);
    padding: var(--espaco);
    background-color: var(--cor-secundaria);
}
.card{
    background-color: var(--cor-terciaria);
    padding: var(--espaco);
    border-radius: var(--aredondamento-borda);
    transition: 0.3s;
}
.card h3{
    color: var(--cor-destaque);
    margin-bottom: var(--espaco);
    text-align: center;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--aredondamento-borda);
}
.card-principal{
    grid-column: 1 / -1;
    background-color: var(--cor-terciaria);
    padding: var(--espaco);
    border: 2px solid var(--cor-destaque);
    border-radius: var(--aredondamento-borda);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.card-principal:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.card-principal img{
    width: 100%;
    border-radius: var(--aredondamento-borda);
    margin: 15px 0;
}
footer{
    grid-area: rodape;
    background-color: var(--cor-primaria);
    text-align: center;
    border-radius: var(--aredondamento-borda);
    padding: 5px;
    width: 100%;
}
@media (min-width: 768px){
    .container{
        grid-template-columns:1fr 300px;
        grid-template-areas:
        "principal lado"
        "rodape rodape";
    }
    nav ul{
        flex-direction: row;
    }
}