:root{
    --cor-primaria: #0d1b2a;
    --cor-secundaria: #1b263b;
    --cor-terciaria: #415a77;
    --cor-destaque: #d4af37;
    --cor-texto: #ffffff;
    --cor-fundo: #08262b;
    --tipo-de-fonte: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    --arredondamento-borda: 10px;
    --espaco: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--tipo-de-fonte);
    padding: var(--espaco);
    line-height: 1.5;
}
.container{
    display: grid;
    grid-template-areas: 
    'principal'
    'lado'
    'rodape';
    gap: var(--espaco);
    margin: auto;
    max-width: 1280;
}
header, nav, main, section, aside, footer{
    border-radius: var(--arredondamento-borda);
    padding: var(--espaco);
}
header{
    background-color: var(--cor-fundo);
    text-align: center;
    width: 100%;
    margin: var(--espaco);
}
header h1{
    color: var(--cor-texto);
    font-family: 'Pirata One', cursive;
    font-size: 5rem;
    text-shadow: 3px 3px 5px rgba(255, 145, 42, 0.7);
}
nav{
    color: var(--cor-texto);
    text-align: center;
    border-radius: var(--arredondamento-borda);
    padding: var(--espaco);
    width: 100%;
    margin-bottom: var(--espaco);
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: var(--espaco);
    gap: var(--espaco);
}
nav li{
    background-color: rgba(255, 255, 255, 0.1);
    padding: var(--espaco);
    border-radius: var(--arredondamento-borda);
    transition: 0.3s;
}
nav li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
nav a{
    color: var(--cor-texto);
    text-decoration: none;
}
.lateral{
    grid-area: lado;
    background-color: var(--cor-terciaria);
    border-radius: var(--arredondamento-borda);
}
.lateral ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: var(--espaco);
    gap: var(--espaco)
}
.lateral li{
    background-color: rgba(255, 255, 255, 0.1);
    padding: var(--espaco);
    border-radius: var(--arredondamento-borda);
    transition: 0.3s;
    cursor: pointer;
}
.lateral li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
.lateral a{
    color: var(--cor-texto);
    text-decoration: none;
}